In [13]:
print("fahim")

fahim

In [14]:
a= 10
b=10
c=a+b
print(c)

20

In [15]:
a=200
print(a)
print(type(a))

200
<class 'int'>

In [16]:
print("The type of variable having value ",c,"is",type(c))

The type of variable having value  20 is <class 'int'>

In [17]:
num_1=2.5e4
print(num_1,type(num_1))

25000.0 <class 'float'>

In [18]:
num_1=5
num_2=12.7
a=float(num_1)
print(a,type(a))

5.0 <class 'float'>

In [19]:
num_1=5
num_2=12.7
b = int(num_2)
print(b,type(b))

12 <class 'int'>

In [20]:
my_list=[1,12,123,44,44]
print(my_list,type(my_list))

[1, 12, 123, 44, 44] <class 'list'>

In [21]:
print(my_list[2])

123

In [22]:
my_list_1=[1,12,123,40,44]
my_list_1 [1]=1000
print(my_list_1[-2])
print(my_list_1)

40
[1, 1000, 123, 40, 44]

In [23]:
my_list_3=[1,22,33,"cat",3,True,99]
print(len(my_list_3))     # get arry length we use len

7

In [24]:
print(my_list_3[-2])#its mean last index -2 two

True

In [25]:
my_list_4=[1,22,33,"cat",3,True,3]
print(my_list_4[1:4])      #its mean 1st index to 4

[22, 33, 'cat']

In [26]:
print(my_list_4[:4]) #its mean 1st is no value that take 0

[1, 22, 33, 'cat']

In [27]:
print(my_list_4[4:]) #its mean index num 4to  last

[3, True, 3]

In [28]:
A = [1, 22, 33, "cat", 3, True, 3]
# A[2] = "Dog"
# A[3] = 19.0

# print(A[3], A[2])

A[2:3] = "Dog", 12

print(A)

[1, 22, 'Dog', 12, 'cat', 3, True, 3]

In [29]:
B= [1, 22, 33, "cat", 3, True, 3]

B.insert(3,"rabbit") #item array ekata add karanna insert use karanawa
print(B,len(B))

[1, 22, 33, 'rabbit', 'cat', 3, True, 3] 8

In [30]:
C= [1, 22, 33, "cat", 3, True, 3]
C.append("Car")#last index we need to add data we can use append
print(C,len(C))

[1, 22, 33, 'cat', 3, True, 3, 'Car'] 8

In [ ]:
D= [1, 22, 33, "cat", 3, True, 3]
modi=["Bus",False,17]
modi.extend(D)#2 arrays join karanna use karanna extend
print(modi)

['Bus', False, 17, 1, 22, 33, 'cat', 3, True, 3]

In [32]:
E= [1, 22, 33, "cat", 3, True, 3]
E.pop(2)#2nd index was deleted
print(E,len(E))

[1, 22, 'cat', 3, True, 3] 6

In [33]:
F= [1,45, 22, 33, "cat", 3, True, 3]
del F[2]# delete is use del
print(F)

[1, 45, 33, 'cat', 3, True, 3]

In [34]:
G= [1,45, 22, 33, "cat", 3, True, 3]
G.clear()#data okkoma clear wenawa
print(G,len(G))

[] 0

In [35]:
H= ["apple", "Cat", "Banana", "Papaw"]
H.sort()  #uperLeters must value and alphabet order (case sansitive)
print(H,len(H))

['Banana', 'Cat', 'Papaw', 'apple'] 4

In [36]:
K= ["Apple", "cat", "Banana", "Papaw"]
K.sort(key=str.lower) #koi order eka demath alphabat order ekn thma enna
print(K)

['Apple', 'Banana', 'cat', 'Papaw']

In [15]:
I= ["Apple", "cat", "Banana", "qapaw"]
I.sort(reverse=True) #
print(I)

['qapaw', 'cat', 'Banana', 'Apple']

In [38]:
J= [212, 77, 888, 5555]
J.reverse() #thiyana eka reverse ganna use wenawa
print(J)

[5555, 888, 77, 212]

In [39]:
J= ["Apple", "Cat", "Banana", "Papaw"]
J.reverse() #thiyana eka reverse ganna use wenawa
print(J)

['Papaw', 'Banana', 'Cat', 'Apple']

In [40]:
# Define the lists
L = [-10, -18, 12, 5, 7, 12, -3]
M = [-8, 4, -3, 9, 2, 11]

# Step 1: Combine and sort the lists
LM = sorted(L + M)

# Step 2: Find the length of the combined list
n = len(LM)

# Function to calculate Q1
def calculate_q1(data):
    if n % 2 == 0:
        lower_half = data[:n // 2]  # Includes the lower half when even
    else:
        lower_half = data[:(n // 2)]  # Excludes the middle element when odd

    if len(lower_half) % 2 == 0:
        mid = len(lower_half) // 2
        q1_value = (lower_half[mid - 1] + lower_half[mid]) / 2
    else:
        q1_value = lower_half[len(lower_half) // 2]
    
    return q1_value

# Function to calculate Q3
def calculate_q3(data):
    if n % 2 == 0:
        upper_half = data[n // 2:]  # Includes the upper half when even
    else:
        upper_half = data[(n // 2) + 1:]  # Excludes the middle element when odd

    if len(upper_half) % 2 == 0:
        mid = len(upper_half) // 2
        q3_value = (upper_half[mid - 1] + upper_half[mid]) / 2
    else:
        q3_value = upper_half[len(upper_half) // 2]
    
    return q3_value

# Calculate Q1 and Q3
q1_value = calculate_q1(LM)
q3_value = calculate_q3(LM)

# Print the results
print("Combined List:", LM)
print("Q1 (First Quartile) of the combined set:", q1_value)
print("Q3 (Third Quartile) of the combined set:", q3_value)

Combined List: [-18, -10, -8, -3, -3, 2, 4, 5, 7, 9, 11, 12, 12]
Q1 (First Quartile) of the combined set: -5.5
Q3 (Third Quartile) of the combined set: 10.0

In [41]:
L = [-10, -18, 12, 5, 7, 12, -3]
M = [-8, 4, -3, 9, 2, 11]

L.extend(M)
L.sort()
print(L)

position_of_Mediam=(len(L)+1)/2

position_of_Mediam=int(position_of_Mediam)

median=L[position_of_Mediam]

print(median)

position_of_Q1=(len(L)+1)/4

value_of_positionQ1 =L(position_of_Q1)+L(position_of_Q1)/2

print(position_of_Q1)

[-18, -10, -8, -3, -3, 2, 4, 5, 7, 9, 11, 12, 12]
5

TypeError: 'list' object is not callable

In [ ]:
Q = [-10, -18, 12, 5, 7, 12, -3]
Q1=Q #meken wenne tawa list ekak hedana eka 
print(Q1)

[-10, -18, 12, 5, 7, 12, -3]

In [ ]:
a=["saa","mnsg","gbg"]
b=[1,2,3]
a.extend(b)
print(a)

['saa', 'mnsg', 'gbg', 1, 2, 3]

In [18]:
thislist = ["apple", "banana", "cherry"]
mylist_new = thislist.copy()#meken wenne thiyana ekama copy wenawa
print(mylist_new)
mylist_new[1]=1000
print(mylist, mylist_new)

['apple', 'banana', 'cherry']

NameError: name 'mylist' is not defined

In [ ]:
w = [-100, -148, 122, 54, 7, 12, -3]
z = [-150, -148, 125, 5, 7, 12, -3]
x=w+z
print(x,len(x))

[-100, -148, 122, 54, 7, 12, -3, -150, -148, 125, 5, 7, 12, -3] 14

In [19]:
my_tupl1=(12,"Apple",10)
print(my_tupl1,len(my_tupl1))
print(type(my_tupl1))

(12, 'Apple', 10) 3
<class 'tuple'>

In [ ]:
my_tupl2=(13,)

print(my_tupl2,len(my_tupl2))

(13,) 1

In [ ]:
my_tupl3=("dog","Cat","pus")
my_tupl3[1]="banana"

print(my_tupl3[1])

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tupl4=("dog","Cat","pus")
my_tupl5=list(my_tupl4)

my_tupl5[1]="banana"
my_tupl4=tuple(my_tupl5)

print(my_tupl4,type(my_tupl4))

('dog', 'banana', 'pus') <class 'tuple'>

In [ ]:
my_tupl6=(10,8,20,5)
my_tupl7=(5,9,-1)

x1=list(my_tupl6)
x2=list(my_tupl7)

x1.pop(2)
x1.extend(x2)
x1.sort()
new_tuple=tuple(x1)

print(new_tuple,type(new_tuple))

(-1, 5, 5, 8, 9, 10) <class 'tuple'>

In [23]:
my=(10,8,20,5,12,"car")
print(my[1:3])
print(my[:3])
print(my[2:])

(8, 20)
(10, 8, 20)
(20, 5, 12, 'car')

In [ ]:
n1=((1,10,2),("Dog","Cat","Rat"),(True,False))

print(n1[0][1],n1[1][2],n1[2][0])

10 Rat True

In [35]:
mysen = (2,5,8,11,14,17,10,15,20,25)
#range(value_1,value2,value3)
#       start, stop ,range
s1=range(2,8,3)
sun=mysen[2]
print(sun)

8

In [ ]:

dic1={"name":"sugar","price":25050,"weight":"1kg"}
print(dic1,type(dic1))

{'name': 'sugar', 'price': 25050, 'weight': '1kg'} <class 'dict'>

In [36]:
dic2={"name":"sugar","price":25050,"price":23444,"weight":"1kg"}
print(dic1,type(dic1))#duplicate value

NameError: name 'dic1' is not defined

In [ ]:
dic3={"name":"sugar","price":25050,"weight":"1kg"}
print(dic3["name"])#1 item  ekak print karanna ona nam mehma print karanne
dic3["name"]="Milk"#wena ekak update karana widiha
print(dic3["name"])

sugar
Milk

In [ ]:
dic4={"name":"sugar","price":25050,"weight":"1kg"}
dic4.update({"name":"Tea","price":100,"weight":"100ml"})#update karanna use karanne

print(dic4)

dic4["color"]="white"#thawa value ekak add karanna puluwan

print(dic4)

dic4.pop("weight")#remove karanna use karanne

print(dic4)

dic4.popitem() #last value eka remove wenawa

print(dic4)

dic4["color"]="white"

print(dic4)

del dic4["name"]#delete karanna use karanne

print(dic4)

{'name': 'Tea', 'price': 100, 'weight': '100ml'}
{'name': 'Tea', 'price': 100, 'weight': '100ml', 'color': 'white'}
{'name': 'Tea', 'price': 100, 'color': 'white'}
{'name': 'Tea', 'price': 100}
{'name': 'Tea', 'price': 100, 'color': 'white'}
{'price': 100, 'color': 'white'}

In [ ]:
dic5={"name":"sugar","price":25050,"weight":"1kg"}
del dic5#full ekma delete una hindha 

print(dic5)#a nisa error enne

NameError: name 'dic5' is not defined

In [37]:
dic6={"name":"sugar","price":25050,"weight":"1kg"}
dic6.clear

print(dic6)

{'name': 'sugar', 'price': 25050, 'weight': '1kg'}

In [ ]:
dic9={"name":"sugar","price":25050,"weight":"1kg"}
print(dic9.keys)

<built-in method keys of dict object at 0x000002B8EF25A9C0>

In [ ]:
dictionary_1={
  "name" : "Soap",
  "price" : 200.00,
  "qty" : 200
}
dictionary_2= dictionary_1.copy()
dictionary_1["qty"] = 300
print(dictionary_1)
print(dictionary_2)

{'name': 'Soap', 'price': 200.0, 'qty': 300}
{'name': 'Soap', 'price': 200.0, 'qty': 200}

In [ ]:
dictionary_1 = {
    "name" : "Soap",
    "price" : 200.00,
    "qty" : 200
}
dictionary_2 = dict(dictionary_1)
dictionary_1["qty"] = 300
print(dictionary_1)
print(dictionary_2)

{'name': 'Soap', 'price': 200.0, 'qty': 300}
{'name': 'Soap', 'price': 200.0, 'qty': 200}

In [ ]:
x=5
y=6
print(x>1 and y<10)
print(x>5 and y>10)

print(x>1 , y<10)
print(x>5 , y<10)

print(x>1 or y<10)
print(x>5 or y>10)

print(not x>2)

True
False
True True
False True
True
False
False

In [38]:
x=int(input("Enter input number"))

print(0<x<100 and x%2==1)

True

In [ ]:
x = int(input("Enter a value :"))
y = x % 7
print(y==0)

In [ ]:
x=5
y=6
print(x is y)
print(x is not y)

False
True

In [39]:
x=5
x**=7

print(x)

78125

In [ ]:
nums =[10,12,8,5,4]
print(12 in nums)#me num eka mehe thiyanwdh kiyala check karnanwa
print(12 not in nums)

True
False

In [ ]:
#bitwise operators

In [ ]:
n=3
if n%2 ==0:
    print("even number")#flow controls
else:#flow controls hariyata allign wenna ona nttm eya reeor pennanawa
    print("odd number")#flow controls

odd number

In [ ]:
a=0
if a<0:
    print("negative number")
elif a>0:
    print("positive number")
else:
    print("zero")

zero

In [ ]:
M=666
if M>100:
    print("Valid number")
elif M>85:
    print("A")
elif M>=75:
    print("B")
elif M>=65:
    print("C")
elif M>=55:
    print("C")
else :
    print("Fail")

Valid number

In [ ]:
a=500000
b=1000002006
c=10000
if a>=b and a>=c:
    print("a is lagest number")
elif b>=a and b>=c:
    print("b is lagest number")
else :
    print("c is lagest number")

b is lagest number

In [ ]:
a=2112
b=344443
c=344
if a>=b and a>=c:
    print("A is big")
elif b>=a and b>=c:
    print("b is large")

else :
    print("c is big")

b is large

In [ ]:
x = int(input("Enter a value :"))
result="multipication"if x%3==0  and  x%2==0 else "Not"
print (result)

Not

In [ ]:
x = int(input("Enter a value: "))
result = "Multiplication and Even" if x % 3 == 0 and x % 2 == 0 else "Even" if x % 2 == 0 else "Not"
print(result)

Even

In [ ]:
n = int(input("Enter a value :"))
m1="ok"if (n%3==0  and  n%2==0 )else "Not"
print (m1)

Not

In [ ]:
response_code=3
match response_code:
    case 200:
      print("OK")
    case 201:
        print("create")
    case 404:
        print("404 Not Found")
    case 500:
         print("Internal Server Error")
    case _:
         print("Unknown")

Unknown

In [ ]:
xn = 99
match xn:
    case 0:
        print("zero")
    case -1:
        print("negative number")
    case 1:
        print("positive one")
    case _ if xn>1:
        print("positive number greater than 1")
    case _ if xn<-1:
        print("positive number less than 1")
    case _:
        print("miss matched")

positive number greater than 1

In [41]:
n=9
match n:
    case 0:
        print("zero")
    case-1:
        prim("-")
    case 100:
        print("rightNumber")
    case _:
        print("miss matched")

miss matched

In [42]:
bo=0
match bo:
    case 1:
        print("Wrong")
    case _:
        print("wrong number")

wrong number

In [ ]:
xn = -2
match xn:
    case 0:
        print("zero")
    case -1:
        print("negative number")
    case 1:
        print("positive one")
    case xn if xn>1:
        print("positive number greater than 1")
    case xn if xn<-1:
        print("positive number less than 1")
    case _:
        print("miss matched")

positive number less than 1

In [ ]:
numbers =[2,8]
match numbers:
    case[x,y]:
        print(x*y)
    case [x,y,z]:
        print(x+y+z)
    case _:
        print("miss matched")

16

In [ ]:
p =[4,6]
match p:
    case[]:
        print("empty list")
    case [x,y]:
        print("two elements matched")
    case _:
        print("miss matched")

two elements matched

In [ ]:
fruits=["APPLE","BANANA","MANGO"]
for i in fruits:
    print(i)

APPLE
BANANA
MANGO

In [ ]:
mylist=[2,5,8]
newlist=[]
for i in mylist:
    newlist.append(i**2)
    print(newlist)

[4]
[4, 25]
[4, 25, 64]

In [ ]:
mylist5=range(1,10)
for i in mylist5:
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
mylist6=[i**2 for i in range(67,88,99)]

print(mylist6)

[4489]

In [ ]:
n = [1, 3, 5, 5, 5, 5, 3, 2, 2, 6, 7, 7, 8]
squares = [x**2 for x in range(1, 11)]

print(n)
print(squares)

[1, 3, 5, 5, 5, 5, 3, 2, 2, 6, 7, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
m=5
i=0
while i<=m:
    print(i, end= "")#ekama line eke print karanna use karanawa
    i+=1
    print("End")

0End
1End
2End
3End
4End
5End

In [ ]:
x = int(input("Input number : "))
i = 0
while i < x :
  print(i)
  i+=2

0
2
4
6
8
10
12

In [ ]:
x = int(input("Input number : "))
i = 0
while i < x :
  if i == 100 :
    break
  else :
    print(i)
    i+=2

In [ ]:
my_list66=[5,8,15,10,9,7,19,99,100]

for i in my_list66:
    if i%2==0:
        continue
    else:
        print(i)

5
15
9
7
19
99

In [ ]:
total=100
while True:
    num = int(input("Enter a number : "))
    if num == 0:
        break
    else :
        total += num

        print( total)

In [ ]:
my_list1 = [1, 34.80, 50]
x, y, z = my_list1
print(x, y, z)

1 34.8 50

In [ ]:
my_dict = {'x': 1, 'y': 34.80, 'z': 50}

x, y, z = my_dict.values()

print(x, y, z)

1 34.8 50

In [ ]:
my_dic2 = {'x': 1, 'y': 34.80, 'z': 50}
for key,value in my_dic2.items():
    print(key,value)

x 1
y 34.8
z 50

In [ ]:
my_dic3 = {'x': 1, 'y': 34.80, 'z': 50}
for value in my_dic3.values():
    print( value)

1
34.8
50

In [ ]:
my_dic3 = {'x': 1, 'y': 34.80, 'z': 50}
my_dic4 = {'l': 1, 'n': 34.80, 's': 50}
my_dic4 = my_dic3|my_dic4# and| merge wenawa
print(my_dic4)

{'x': 1, 'y': 34.8, 'z': 50, 'l': 1, 'n': 34.8, 's': 50}

In [ ]:
my_dic6 = {'l': 1, 'n': 34.80, 's': 50}

print(my_dic6['n'])  # Output: 34.8
print(my_dic6.get("e", 10.20))  # Output: 10.2 (default value since 'e' is not a key)
print(my_dic6)

34.8
10.2
{'l': 1, 'n': 34.8, 's': 50}

In [74]:
def add_numbers(a,b):
    return a+b
print(add_numbers(a,b))

17.0

In [ ]:
PI = 3.14
def calulate_area(r):
    return PI * r**2
print(calulate_area(7))

153.86

In [ ]:
my_list9 = [9,8,9,10,11,12,13]
def calculate(x):
    sum=0
    for i in x:
        sum += i
    return sum

print(calculate(my_list9))

72

In [ ]:
#------------------------------------------------------------------------------------DAY 04---------------------------------------------------------------------------------

In [69]:
def x(*args):  # arbitrary positional arguments
    sum = 0
    for i in args:
        sum += i  # Add each element to sum
    return sum  # Return sum after the loop finishes

print(x(3, 3, 23, 2343, 34))

2406

In [50]:
def n(*args):
    total = sum(args)  
    print("Total:", total)


numbers = []
while True:
    try:
        num = int(input("Input number (or 0 to stop): "))
        if num == 0:
            break
        numbers.append(num)  
    except ValueError:
        print("Please enter a valid number.")

n(*numbers)

Please enter a valid number.
Total: 144

In [ ]:
#calculate and print higest grade ,lowest grade and average grade from the provided scores
#if no grades are provided print no grades available

def calculate_grades(name,*args):
    print("Student name:",name)
    if not args:
        print("No grades available.")
        return
    else:
        print("maximum grade",max(args))
        print("minimum grade",min(args))
        print("average grade",sum(args)/len(args))
        return sum(args)/len(args)
        

print(calculate_grades(3,3,23,2343,34))

Student name: 3
maximum grade 2343
minimum grade 3
average grade 600.75
600.75

In [ ]:
def n(**x):# 2**
    for key, value in x.items():
        print(key, value)

n(name="Jhon", age=30, city="Badulla")

name Jhon
age 30
city Badulla

In [76]:
#employe managment system
#write the phython function employee_info that except a required name parameter and arbinarynumber of keyboard arguments no of keyword arguments represnting addisinal information         
# function shoud print employees names itarate to keyword argument print each key values there in the format ",<key>:<value"

#return the dictonory with all emplyee detail 

def employee_info(name, **kwargs):
    employee_details = {"Name": name}
    for key, value in kwargs.items():
        employee_details[key] = value
    return employee_details

print(employee_info("John", age=30, city="Badulla", department="IT"))
print(employee_info("fahim", age=31, city="Colombo", department="HR"))

{'Name': 'John', 'age': 30, 'city': 'Badulla', 'department': 'IT'}
{'Name': 'fahim', 'age': 31, 'city': 'Colombo', 'department': 'HR'}

In [ ]:
def employee_info1(name, **kwargs):
    print("Employee Name: " + name)
    for key, value in kwargs.items():
        print(key + ": " + str(value))
    return {"name": name}
    


employee = employee_info1("John Doe", age=30, department="HR", position="Manager")
print(employee)

Employee Name: John Doe
age: 30
department: HR
position: Manager
{'name': 'John Doe'}

In [ ]:
#Built-in Functions
abs(-20)#absolute values

20

In [81]:
def find_square(x):
    return x * x

my_list44 = [5, 2, 3]

result = map(find_square, my_list44)

print(result, type(result))

result = list(result)

print(result, type(result))

<map object at 0x0000021F9219D7E0> <class 'map'>
[25, 4, 9] <class 'list'>

In [ ]:
my_n=[11,12,7,5]
my_s=[9,5,4,1]

map(function,iterble1,iterable2,...)

In [ ]:
my_n = [11, 12, 7, 5]
my_s = [9, 5, 4, 1]#map

result = map(lambda x, y: x + y, my_n, my_s)

result_list = list(result)
print(result_list)

[20, 17, 11, 6]

In [85]:
my_n = [11, 12, 7, 5]
my_s = [9, 5, 4, 1]

def add_numbers(x, y):  
    return x + y

result = map(add_numbers, my_n, my_s)

result = list(result)
print(result)

[20, 17, 11, 6]

In [84]:
#you have list of integer represnting temprotior in c 
#temp=list[20,30,25,30,40]
#write phyon prgrm using map function to convert this temp into farentline use the formula "Fahrenheit=celsisus *9/5=32"
# List of temperatures in Celsius
temp = [20, 30, 25, 30, 40]

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

fahrenheit_temps = map(celsius_to_fahrenheit, temp)

fahrenheit_temps = list(fahrenheit_temps)
print(fahrenheit_temps)

[68.0, 86.0, 77.0, 86.0, 104.0]

In [ ]:
my_s = [5, 7, 8, 3, 12, 14]#filter

def is_even(n):
    return n % 2 == 0

even_numbers = filter(is_even, my_s)

even_numbers = list(even_numbers)
print(even_numbers)

[8, 12, 14]

In [93]:
my_o = [5, 7, 8, 3, 12, 14]

def is_odd(n):
    return n % 2 == 1

odd_numbers = filter(is_odd, my_o)

odd_numbers = list(odd_numbers)
print(odd_numbers)

[5, 7, 3]

In [ ]:
#phython Lambda function
# syntax   -    lambda arguments:expression

add=lambda x,y: x+y 
print(add(3,5))

8

In [97]:

result=(lambda x,y: x+y)(5,6)

print(result)

11

In [103]:
#write progrmme take list of peples , where each people content name ,age(int)
#use the lamda function to filter out the tupells where the age is <18
#print the list of people after filter

people = [
    ("John", 20),
    ("Alice", 15),
    ("Bob", 17),
    ("Cathy", 22),
    ("David", 10),
    ("Emma", 25),
    ("Frank", 19)
]

adults = filter(lambda person: person[1] >= 18, people)

adults = list(adults)
print(adults)

[('John', 20), ('Cathy', 22), ('Emma', 25), ('Frank', 19)]

In [ ]:
def my_s(n):
    return lambda a: a * n

my_1 = my_s(2)
s = 3
print(my_1(s))

6

In [107]:
findMax = lambda a, b: a if a + b > 10 else b

print(findMax(5, 6))

5

In [109]:
def find_factorial(n):
    fac=1
    while n>0:
        fac*=n
        n-=1
    return fac

find_factorial(0)

1

In [110]:
def factorial(x):
    if x == 0 or x == 1:
        return 1
    else:
        return(x * factorial(x-1))
5 * factorial(4)
4*factorial(3)
3*factorial(2)
2*factorial(1)
1*factorial(0)

1

In [115]:
def factorial(x):
    if x == 0 or x == 1:
        return 1
    else:
        return x * factorial(x - 1)
result = factorial(10)
print(result)

3628800

In [ ]:
#calculate the sum off all the elements in an array or  a list
#IMPLEMENT A RECURSIVE FUNCTION to genarate the nth Number in the fibonacci sequence .the fabconnaci sequence start with 0 and 1 ,and each subsequent
#  numberis the sum of the two precedding ones

def sum_of_elements(lst):
    if not lst:
        return 0
    else:
        return lst[0] + sum_of_elements(lst[1:])

my_list = [1, 2, 3, 4, 5]
print(sum_of_elements(my_list))

15

In [ ]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

n = 5
print(fibonacci(n))

5